.about-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;

}

.about-grid {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /*background-color: rgba(54, 54, 54, 0.4);*/
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 25px;
  overflow: scroll;
  margin-bottom: 10px;
}

.skills-grid {
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  height: 25vh;
  align-self: center;
  width: 300px;
  margin-left: 10px;
  margin-bottom: 20px;
  overflow: scroll;
  padding-bottom: 20px;
}

.skills-title {
  display: flex;
  justify-content: center;
  color: #152A53;
  margin: 10px 0px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.skills-learning-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills {
  display: flex;
  margin: 0px 20px;
}

.skills-loop {
  display: flex;
  flex-wrap: wrap;
}

.skills-name {
  font-family: 'Fira Sans', sans-serif;
  background-color: rgba(54, 54, 54, 0.4);
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-size: 14px;
  margin: 2px;
}

@media only screen and (max-width: 768px) {
  .skills-name {
    font-size: 12px;
  }
  .skills-grid {
    width: 60%;
  }
}

.about {
  font-size: 25px;
  display: flex;
  justify-content: center;

}

.pic {
  display: flex;
  flex-wrap: wrap;
  border-radius: 200px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.flex-text {
  flex-wrap: wrap;
}

.about-me {
  margin-left: 20px;
  font-size: 16px;
  color: #152A53;
  font-family: 'Fira Sans', sans-serif;
}

@media only screen and (max-width: 768px) {
  .about-me {
    font-size: 12px;
  }
}

.name-intro {
  font-size: 25px;
}

.launch-link {
  color: #890309;
}

.spotify-flex {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .spotify {
    width: 80px;
    margin: auto;
  }
}
