/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body {
  /*background-image: url(annie-spratt-370971.jpg);*/
  background-image: url(199055-OYH6N5-733.jpg);
  background-size: cover;
}

.element {
	height:100vh;
  display: flex;
	font-size: 20px;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  width: 100%;
}


 .title-container {
   margin-top: 100px;
   display: flex;
   justify-content: center;
 }

 .title {
   color: white;
   font-size: 100px;
   font-family: 'Lato', sans-serif;

 }

 .developer-grid {
   display: flex;
   justify-content: center;
   margin: 15px 0px;
   font-family: 'Raleway', sans-serif;
   color: white;
   font-size: 25px;
 }

 .link-container {
   display: flex;
   justify-content: center;

 }

 .link-grid {
   width: 160px;
   font-size: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }


.fa {
  font-size: 50px;
}

.fa-linkedin {
  color: #152A53;
}

.fa-github {
  color: #152A53;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar-grid {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  width: 350px;
  padding: 10px;
  margin-top: 10px;
}

.nav-text {
  color: #890309;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.nav-text:hover {
  color: #152A53;

}

.dot {
  color: #890309;
  font-size: 25px;
}

.scroll-link {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  align-items: flex-end;
  margin-top: auto;
  color: #152A53;
  font-family: 'Lato', sans-serif;
  font-size: 25px;

}

.fa-chevron-down {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #152A53;
}

.fa-chevron-up {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #152A53;

}

.about-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.about-grid {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /*background-color: rgba(54, 54, 54, 0.4);*/
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 25px;
}

.skills-grid {
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  height: 25vh;
  align-self: center;
  width: 300px;
}

.skills-title {
  display: flex;
  justify-content: center;
  color: #152A53;
  margin: 10px 0px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.skills-learning-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px;

}

.skills-name {
  font-family: 'Fira Sans', sans-serif;
  background-color: rgba(54, 54, 54, 0.4);
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-size: 15px;
  margin: 2px;
}

.about {
  font-size: 25px;
  display: flex;
  justify-content: center;

}

.pic {
  display: flex;
  border-radius: 200px;
  height: 250px;
}

.about-me {
  margin-left: 20px;
  font-size: 16px;
  color: #152A53;
  font-family: 'Fira Sans', sans-serif;
}

.name-intro {
  font-size: 25px;
}

.launch-link {
  color: #890309;
}

.projects-container {
  display: flex;
  justify-content: center;
  /*margin-top: 20px;*/

}

.projects-grid {
  justify-content: center;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 25px;
}

.project {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
  color: #152A53;
  font-family: 'Lato', sans-serif;
}

.project-image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

img {
  max-width: 350px;
  max-height: 200px;
}

.project-title {
  font-size: 25px;
  color: #152A53;
  font-family: 'Fira Sans', sans-serif;
}

.project-text {
  color: #152A53;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;

}

.source-code {
  color: #890309;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;

}

.demo-account {
  color: #890309;
  font-size: 17px;
}


.contact-container {
  display: flex;
  justify-content: center;
  margin-top: 175px;
}

.contact-grid {
  /*justify-content: center;*/
  width: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 25px;

}

.contact-header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #152A53;
  font-family: 'Lato', sans-serif;
}

.say-hi {
  display:flex;
  justify-content: center;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 20px;
  color: #890309;

}

.resume {
  color: #152A53;
  font-family: 'Fira Sans', sans-serif;

}

.email {
  color: #152A53;
  font-family: 'Fira Sans', sans-serif;

}

.contact-info {
  display:flex;
  justify-content: center;
  color: #152A53;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 5px;

}

.contact-info-grid {
  display: flex;
  justify-content: center;
}

.contact-info-resume {
  display:flex;
  justify-content: space-around;
  color: #152A53;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 200px;

}
.contact-info-email {
  display:flex;
  justify-content: center;
  color: #152A53;
  margin-bottom: 5px;
  margin-top: 20px;
}

#logo {
  font-size: 25px;
}

.fa-link {
  font-size: 25px;
  color: #152A53;
}

.icon-grid {
  display: flex;
  justify-content: space-around;
  /*border: blue solid;*/
  width: 75px;
  margin-top: 20px;
}
