/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body {
  background-color: #F2EADE;
}

 .title-container {
   margin-top: 50px;
   display: flex;
   justify-content: center;
 }

 .title {
   color: #76112D;
   font-size: 100px;
   /*font-family: 'Shrikhand', cursive;*/
   /*font-family: 'Coustard', serif;*/
   font-family: 'Boogaloo', cursive;
 }

 .link-container {
   display: flex;
   justify-content: center;
 }

 .link-grid {
   width: 400px;
   font-size: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }


 .horizontal-line  {
   color: red;
   width: 30%;
   text-align: center;
 }


.fa {
  font-size: 50px;
}

.fa-linkedin {
  color: #76112D;
}

.fa-github {
  color: #76112D;
}

.resume {
  text-decoration: none;
  color: #1178B3;
  font-family: 'Boogaloo', cursive;

}

.about-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.about-grid {
  /*border: green solid;*/
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.about {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.pic {
  display: flex;
  border-radius: 200px;
  height: 250px;


}

.about-me {
  margin-left: 20px;
  color: #76112D;
  /*font-family: 'Boogaloo', cursive;*/
  font-family: 'Fira Sans Condensed', sans-serif;


}

.contact {
  margin-top: 30px;
}

.email {
  color: #1178B3;
}

.contact-info {
  display:flex;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  color: #76112D;
  font-family: 'Boogaloo', cursive;

}

.project-title {
  font-size: 20px;
  color: #1178B3;
  font-family: 'Boogaloo', cursive;

}

.project-text {
  color: #76112D;
  font-family: 'Fira Sans Condensed', sans-serif;

}

.source-code {
  color: #1178B3;
  font-family: 'Fira Sans Condensed', sans-serif;

}
