.contact-container {
  display: flex;
  justify-content: center;
  margin-top: 175px;
}

.contact-grid {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.contact-header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #152A53;
  font-family: 'Lato', sans-serif;
}

.say-hi {
  display:flex;
  justify-content: center;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 20px;
  color: #890309;

}

.resume {
  color: #152A53;
  font-family: 'Fira Sans', sans-serif;

}

.email {
  color: #152A53;
  font-family: 'Fira Sans', sans-serif;

}

.contact-info {
  display:flex;
  justify-content: center;
  color: #152A53;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 5px;

}

.contact-info-grid {
  display: flex;
  justify-content: center;
}

.contact-info-resume {
  display:flex;
  justify-content: space-around;
  color: #152A53;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 200px;

}
.contact-info-email {
  display:flex;
  justify-content: center;
  color: #152A53;
  margin-bottom: 5px;
  margin-top: 20px;
}

#logo {
  font-size: 18px;
}

.fa-link {
  font-size: 25px;
  color: #152A53;
}

.icon-grid {
  display: flex;
  justify-content: space-around;
  width: 75px;
  margin-top: 20px;
}
