<!DOCTYPE html>
<html>

  <head>
    <title>Peter Robitaille</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">




    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
