<!DOCTYPE html>
<html>
  <head>
    <title>Peter Robitaille</title>
    <%= csrf_meta_tags %>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Fira+Sans+Condensed" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
